body {
	background-image: url("images/lawn.jpg");
	background-color: #333333;
	color:#99E0BE;
	text-align: center;
}
#title {
	padding-bottom: 10px;

}
#nav {
}
h1 {
	margin-bottom: 0px;
}
h2 {

}
h3 {
	
}
ul {
	list-style: none;
	padding-left: 0;
	position: relative;
	text-align: center;
}
li {
	display: inline;
}
a {
	color: #FFFFFF;
	text-decoration: none;
}

.btn:hover, a:hover, li:hover {
	color: #FFFFFF;
	text-decoration: none;
	cursor: pointer;
	background-color: rgba(51, 51, 51, 0.50);
	transition: background-color 1s;
}