body {
	background: url(images/lawn.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	background-color: #333333;
	color:#99E0BE;
	text-align: center;
}
#title {
	padding-bottom: 0;

}
#nav {
}
.header {
	background-color: rgba(50, 50, 50, .4)
}
.headpic img {
	width: 100%;
	margin: 20px auto 0 auto;
	/*box-shadow: 10px 10px 5px rgba(150,150,150,.25);*/
}
button {
	background-color: transparent;
	border: none;
	color: #CCCCCC;
}
.dropdown-toggle {
	padding: 6px;
}
button:hover{
	background-color: transparent;
	color: white;
}
h1 {
	margin-bottom: 0px;
	padding-bottom: 0px;
}
h2 {

}
h3 {
	
}
ul {
	list-style: none;
	padding-left: 0;
	text-align: center;
}
li {
	display: inline;
}
a {
	color: #CCCCCC;
	text-decoration: none;
	padding: 10px;
}
a:hover {
	text-decoration: none;
	color: #FFFFFF;
	transition: .5s;
}
.btn {
	border: 1px solid #CCCCCC;
	margin: 4px;
	padding: 3px;
}
.btn:hover{
	text-decoration: none;
	background-color: rgba(255, 182, 193, 0.50);
	/*font-weight: bold;*/
	border: 0 solid #CCCCCC;
	transition: background-color 1s, font-weight .1s;
}